<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8" /> 
    <title></title>
  </head>
  <body> 
    <table>
    <form method='post' action='/add'>
            <tr>
             <td><label for="inputTask">Add ToDo</label></td>
             <td>
             <input
             type="text"
             id="inputTask"
             name="addTask"
             placeholder="Add task"
             required
             autofocus
             />
             </td>
             </tr>
             <tr>
             <td>
               <button class="btn btn-lg btn-primary btn-block" type="submit">
                              Add
                            </button>
                          </td>
                        </tr>
             
   </form>
   <form method='post' action='/signout'>
    <tr>
        <td>
            <button class='btn btn-lg btn-primary btn-block' type='submit'>Signout</button>
        </td>
    </tr>
   </form>

</table>
 
<%=msg%>   
<table>
    <%
    if(list.length!=0){
    var i=1;
    list.forEach(function(data){
    %>
    <tr>
        <td><%=i; %></td>
        <% if (data.id == idTask) { %>
    
            <form action="/edit/id=<%=data.id%>" method="post">
                  <td><input type="text" value="<%= data.item %>" name="content"></td>
                  <td><button type="submit">Confirm</button></td>
                  <td><a href="/">Cancel</a></td>
            </form>
      <% } else { %>
            <td><%= data.item %></td>
            <form method='get' action="/edit/id=<%=data.id%>">
                <td> <button class='btn btn-lg btn-primary btn-block' type='submit'>Edit</button></td>
                </form>
                <form method='post' action="/delete/id=<%=data.id%>">
                    <td> <button class='btn btn-lg btn-primary btn-block' type='submit'>Delete</button></td>
                 </form>
                 <form method='post' action="/done/id=<%=data.id%>">
                    <td> <button class='btn btn-lg btn-primary btn-block' type='submit'>Done</button></td>
                 </form>
      <% } %>
    <%  i++; }) %>
    <% } else{ %>
        <tr>
            <td colspan="7">Add todo</td>
        </tr>
    <% } %>
    
    </table>

  </body>
</html>